In [21]:
import pandas as pd
weather= {
    'Day':['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017','1/7/2017'],
    'Temperature':[32,56,67,23,87,23,11],
    'Windspeed':[3,9,6,4,3,2,1],
    'Event':['rain','sunny','snow','rain','sunny','snowy','rain']
}
df= pd.DataFrame(weather)
print(df)

        Day  Temperature  Windspeed  Event
0  1/1/2017           32          3   rain
1  1/2/2017           56          9  sunny
2  1/3/2017           67          6   snow
3  1/4/2017           23          4   rain
4  1/5/2017           87          3  sunny
5  1/6/2017           23          2  snowy
6  1/7/2017           11          1   rain

In [24]:
df.tail(2)

        Day  Temperature  Windspeed  Event
5  1/6/2017           23          2  snowy
6  1/7/2017           11          1   rain

In [26]:
df[2:5]

        Day  Temperature  Windspeed  Event
2  1/3/2017           67          6   snow
3  1/4/2017           23          4   rain
4  1/5/2017           87          3  sunny

In [28]:
df.columns

Index(['Day', 'Temperature', 'Windspeed', 'Event'], dtype='object')

In [29]:
df.describe()

       Temperature  Windspeed
count     7.000000   7.000000
mean     42.714286   4.000000
std      27.765172   2.708013
min      11.000000   1.000000
25%      23.000000   2.500000
50%      32.000000   3.000000
75%      61.500000   5.000000
max      87.000000   9.000000

In [31]:
df[df.Temperature>=32]

        Day  Temperature  Windspeed  Event
0  1/1/2017           32          3   rain
1  1/2/2017           56          9  sunny
2  1/3/2017           67          6   snow
4  1/5/2017           87          3  sunny

In [32]:
import pandas as pd
from pandas import DataFrame, Series
s=Series([1,2,3,4,5])
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [39]:
dates= pd.date_range('2014-07-01', '2014-07-06')
b=Series([1,2,3,4,5,6], index = dates)
b

2014-07-01    1
2014-07-02    2
2014-07-03    3
2014-07-04    4
2014-07-05    5
2014-07-06    6
Freq: D, dtype: int64

In [41]:
b.mean()

3.5